{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock head %}


{% block body %}
<div class="container">
  <h1>Login</h1>
  {% if form.errors %}
  <div class="alert alert-warning alert-dismissible alert-{{ message.tags }} fade show" role="alert">
    <p>Your username and password didn't match. Please try again.</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {% endif %}

  {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}

  <form method="post" >
  {% csrf_token %}
  <table>
  <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
  </tr>
  <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
  </tr>
  </table>

  <button class='btn  btn-mdb-color' type='submit'>Login</button>
  <input type="hidden" name="next" value="{{ next }}">
  </form>

  <p><a href="{% url 'accounts:reset_password' %}">Lost password?</a></p>

</div>

{% endblock body%}



</body>

</html>
